<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>温度检测平台</title>
</head>
<body>
 
    <div id="container" style="width:auto">
     
    <div id="header" style="background-color:#FFA500;">
    <h1 style="margin-bottom:0;text-align: center;font-size: xx-large;">温度检测平台</h1></div>
     
    <div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;position: relative;">
    <b>菜单</b><br>
    总览<br>
    详细数据表<br>
    历史查询</div>
     
    <div id="content" style="height:auto;width:auto;float:left; overflow: auto;">
        <div id="sensor1" style="height: 200px;width: 200px;background-color: #00ff00;float: left;margin: 20px;">
            <p>this is sensor 1</p>
    
        </div>
    </div>
     
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
    power by wangyaominde</div>
     
    </div>
     
    </body>
    </html>